.showbtn {
    position: fixed;
    opacity: 1;
    /* bottom: 40px; */
    /* right: 64px; */
    transition: opacity 1s;
    transform-origin: center; /* Correct property */
    
}

.hide {
    opacity: 0;
    transition: opacity 1.5s; 
}
