.footer_section{
    background-image: url("../../assets/footer_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: full;
    /* height: full; */
    margin: 0px auto;
    background-size: cover;
}
.footer_greadint{
    background-color: rgba(5, 5, 5, 0.947);
  
}
.ping_us{
height: 400px;
width: 400px;
background-color: rgb(208, 208, 3);
border-radius: 100%;
/* margin-left: 70px; */
transition: height .4s,width .4s,margin-left .4s;
}

.ping_us:hover{
    height: 450px;
    width: 450px;
    cursor: pointer;
    /* margin-left: 45px; */
}