.services{
    background-color: #151515;
    color: white;
    transition:  background-color .4s , color .4s;
}

.services:hover{
    background-color: var(--primary-color);
    color: black;
}
.animated-img {
    margin-left: 750px;
    opacity: 1;
    filter: brightness(40%);
    /* visibility: hidden; */
    transition:  margin-left .8s ,opacity .8s ,filter .8s ;

}
.animated-img img {
    height: 210px;
    margin-top: -210px;
    /* z-index: -20; */

}


.services:hover .animated-img{
    margin-left: 400px;
    /* opacity: .5; */
    filter: brightness(90%);
    
    /* visibility: visible; */

}
@media screen and (min-width: 320px) and (max-width:720px) {
    .services:hover .animated-img{
        margin-left: 100px;
        /* opacity: .5; */
        filter: brightness(90%);
        /* visibility: visible; */
    
    }
  }

  