.project-section {
    background-image: url('../../assets/project_bg.jpg');
    /* height: 700px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: full;
    height: full;

    

} 

.project_section_gradient{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
    /* height: 700px; */
    height: full;
    /* background-attachment: fixed; */
} 

.getToTouch .BsArrowRight {
    
    margin-left: 0px;
    transition: margin-left 0.5s ease;
}

.getToTouch:hover .BsArrowRight {
  margin-left: 10px;
}

